---
import { getGitHubUser, getGithubUserEvents } from "../lib/github";

const { data: nikbrunner, error: nikbrunnerError } = await getGitHubUser();
const { data: events, error: eventsError } = await getGithubUserEvents();
---

{
    nikbrunnerError || eventsError ? (
        <div class="error">{nikbrunnerError || eventsError}</div>
    ) : (
        <>
            <h2>Activity of {nikbrunner?.name}</h2>
            <ul>
                {events.map((evt) => (
                    <li>
                        {evt.type} - {evt.repo.name} - {evt.created_at}
                        {evt.type === "PushEvent" && (
                            <ul>
                                {evt.payload.commits?.map((commit) => (
                                    <code>
                                        {commit.message
                                            .split("\n")
                                            .map((line) => (
                                                <>
                                                    {line}
                                                    <br />
                                                </>
                                            ))}
                                    </code>
                                ))}
                            </ul>
                        )}
                    </li>
                ))}
            </ul>
        </>
    )
}

<style>
    ul {
        list-style-type: none;
    }

    ul > li {
        margin-bottom: 1em;
    }
</style>
